<html>
    <head>
        <title>Angelica</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">BUNBURY</a></h2>
            <p>Enrique Ortiz de Landázuri Izarduy (Zaragoza; 11 de agosto de 1967),1​ más conocido como Enrique Bunbury, es un cantante, compositor y músico español. Es reconocido por ser el vocalista de la banda de rock Héroes del Silencio.</p>
            <a href="https://www.youtube.com/watch?v=UP4Z1X_6Peo">link</a>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">mi segunda publicación</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>